.page-bg {
  background-color: #eee;
  height: calc(100vh - 47px);
  width: 100%;
}
.page {
  background-color: #e0e0e0;
  padding: 20px 15px;
  height: 100%;
}

:host ::ng-deep .gris > th {
  background-color: #e0e0e0 !important;
}
